<div class="row" id="logged_in_background" >
     <div class="col-sm col-md-4 offset-md-4 big_block">

       <form action="/trips/<%=@trip.slug%>" method="POST">
         <input type="hidden" id="hidden" name="_method" value="PATCH">
         <div class="form-group">
           <label for="Origin">Origin</label>
           <input type="string" class="form-control" name="trip[origin]"  id="origin" value="<%=@trip.origin%>" required>
         </div>
         <div class="form-group">
           <label for="destination">Destination</label>
           <input type="string" class="form-control" name="trip[destination]"  id="destination" value="<%=@trip.destination%>" required>
         </div>

         <div class="form-group">
           <label for="departing">Departing</label>
           <input type="date" class="form-control" name="trip[departing]"  id="departing" value="<%=@trip.departing.to_formatted_s.split(" ").first
       %>" required>
         </div>

         <div class="form-group">
           <label for="returning">Returning</label>
           <input type="date" class="form-control" name="trip[returning]" id="returning" value="<%=@trip.returning.to_formatted_s.split(" ").first
       %>" required>
         </div>

         <div class="form-group">
           <label for="transportation">Transportation</label>
           <input type="string" class="form-control" name="trip[transportation]" id="transportation" value="<%=@trip.transportation%>" required>
         </div>

         <button type="submit" class="btn btn-burgundy">Edit Trip</button>
         <button type="submit" formaction='/trips' formmethod="get" class="btn btn-burgundy" formnovalidate>Cancel</button>
          <!-- DEMANDE: formmethod works but the url seems to still be patch?! -->
       </form>


    </div>

  </div>
</div>
