Origin: <%=@trip.origin%><br></br>
Destination: <%=@trip.destination%><br></br>
Departing: <%=@trip.departing%><br></br>
Returning: <%=@trip.returning%><br></br>



<form action="/my-trips/<%=@trip.slug%>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Trip">
</form>

<input type="button" class="btn btn-info" value="Edit Trip" onclick="location.href = '/my-trips/<%=@trip.slug%>/edit';">
