Origin: <%=@trip.origin%><br></br>
Destination: <%=@trip.destination%><br></br>
Departing: <%=@trip.departing%><br></br>
Returning: <%=@trip.returning%><br></br>



<form action="/trips/<%=@trip.slug%>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Trip">
  <button type="submit" formaction='/trips/<%=@trip.slug%>/edit' formmethod="get" class="btn btn-burgundy" formnovalidate>Edit Trip</button>
  <!-- DEMANDE: works but url is weird -->
</form>
