
<!--
NOTES: Initially sorted by departing date, but with option to sort based on other criterium -->

<br></br>
Hello, <%=@user.first_name%>!
<br></br>
<%if @user.trips.empty?%>
  You have no existing trips, to create one, click <a href="/my-trips/new">here</a>
<%else%>

  Your trips are:

  <section class="col-sm-8 table-responsive">
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr> <th>Origin</th> <th>Destination</th><th>Departing</th><th>Returning</th><th>Transportation</th>   </tr>
      </thead>
      <tbody>
        <%@user.trips.each do |trip|%>
        <tr>
          <td><%=trip.origin%></td>
          <td><%=trip.destination%></td>
          <td><%=trip.departing%></td>
          <td><%=trip.returning%></td>
          <td><%=trip.transportation%></td>

          <td><a href="my-trips/<%=trip.slug%>">Go to trip</a></td>
          </tr>
        <%end%>

      </tbody>
      </table>
  </section>
  <%end%>
